<div class="wrapper">
    <header class="body--header">
        <div class="header--title">
            <a href="/">
                <h1>
                    M<span>c</span>C<span>arthy</span><br> T<span>renching</span>
                </h1>
            </a>
        </div>
        <div class="header--image">
            <%= image_tag('header.jpg') %>
        </div>
        <nav class="header--nav">
            <ul class="nav--container">
                <li class="nav--container_link">
                    news
                </li>
                <li class="nav--container_link">
                    shows
                </li>
                <li class="nav--container_link">
                    music
                </li>
            </ul>
        </nav>
    </header>
    <main class="body--main">
        <section class="main--news">
            <header class="news--header section--header">
                <h2>
                    NEWS
                </h2>
                <ul class="news--nav">
                    <li class="nav--container_link">
                        news
                    </li>
                    <li class="nav--container_link">
                        shows
                    </li>
                    <li class="nav--container_link">
                        music
                    </li>
                </ul>
            </header>
            <section class="news--content">
                <% @posts.each_with_index do |post, index| %>
                    <div class="news--content_post">
                        <h3>
                            <%= post.headline %>
                        </h3>
                        <p>
                            <%= sanitize post.body, tags: %w(i strong em a b br), attributes: %w(href) %>
                        </p>
                        <p>
                            <em>posted <%= post.created_at.strftime("%B %e, %Y")%></em>
                        </p>
                    </div>
                    <% unless @posts.length == index + 1 %>
                    <hr>
                    <% end %>
                <% end %>
            </section>
        </section>
        <section class="main--shows">
            <header class="shows--header section--header">
                <h2>
                    SHOWS
                </h2>
                <ul class="shows--nav">
                    <li class="nav--container_link">
                        news
                    </li>
                    <li class="nav--container_link">
                        shows
                    </li>
                    <li class="nav--container_link">
                        music
                    </li>
                </ul>
            </header>
            <% if @shows != nil %>
                <div class="shows--content">
                    <% @shows.each do |show| %>
                        <div class="shows--content_show">
                            <h3>
                                <%= show.date.strftime("%A, %B %e, at %l:%M %P") %>
                            </h3>
                            <p>
                                <%= sanitize show.description, tags: %w(br i strong em a b), attributes: %w(href) %>
                            </p>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </section>
        <section class="main--music">
            <header class="music--header section--header">
                <h2>
                    MUSIC
                </h2>
                <ul class="music--nav">
                    <li class="nav--container_link">
                        news
                    </li>
                    <li class="nav--container_link">
                        shows
                    </li>
                    <li class="nav--container_link">
                        music
                    </li>
                </ul>
            </header>
            <div class="music--content">
                <div class="music--content_post">
                    <h3>
                        More Like It
                    </h3>
                    <p><em>released Oct. 2015</em></p>
                    <div class="music--content_post--container">
                        <div class="container--tracklist">
                            <p>1. <span class="lyrics" data-song="head-waters">Head Waters</span><br>
                            2. <span class="lyrics" data-song="fifty-times-a-day">Fifty Times a Day</span><br>
                            3. <span class="lyrics" data-song="laguna-beach">Laguna Beach</span><br>
                            4. <span class="lyrics" data-song="ogallala-aquifer">Ogallala Aquifer</span><br>
                            5. <span class="lyrics" data-song="mean-thing-on-my-mind">Mean Thing on My Mind</span><br>
                            6. <span class="lyrics" data-song="no-im-sure-youre-right">No, I'm Sure You're Right</span><br>
                            7. <span class="lyrics" data-song="keep-the-devil-away">Keep the Devil Away</span><br>
                            8. <span class="lyrics" data-song="air-force-one">Air Force One</span><br>
                            9. <span class="lyrics" data-song="christmas-1974">Christmas 1974</span><br>
                            10. <span class="lyrics" data-song="steadfast-friendship">Steadfast Friendship</span></p>
                        </div>
                        <div class="container--cover">
                            <div class="cover--image">
                                <%= image_tag('more-like-it.png') %>
                            </div>
                            <p>
                                <em class="lyrics" data-song="more-like-it">lyrics &amp; credits</em>
                            </p>
                        </div>
                    </div>
                    <div class="music--button">
                        PURCHASE
                    </div>
                    <hr>
                </div>
                <div class="music--content_post">
                    <h3>
                        Plays the Piano
                    </h3>
                    <p><em>released Oct. 2012</em></p>
                    <div class="music--content_post--container">
                        <div class="container--tracklist">
                            <p>1. <span class="lyrics" data-song="july-18-2011">2:47, July 18, 2011</span><br>
                            2. <span class="lyrics" data-song="the-favorite">The Favorite</span><br>
                            3. <span class="lyrics" data-song="ponderosa-village">Ponderosa Village</span><br>
                            4. <span class="lyrics" data-song="twenty-nine">29</span><br>
                            5. <span class="lyrics" data-song="swipesy">Swipesy</span><br>
                            6. <span class="lyrics" data-song="evil-free-will">Evil/Free Will</span><br>
                            7. <span class="lyrics" data-song="the-ballad-of-dorothy-lynch">The Ballad of Dorothy Lynch</span><br>
                            8. <span class="lyrics" data-song="solace">Solace</span><br></p>
                        </div>
                        <div class="container--cover">
                            <div class="cover--image">
                                <%= image_tag('plays-the-piano.jpg') %>
                            </div>
                            <p>
                                <em class="lyrics" data-song="plays-the-piano">lyrics &amp; credits</em>
                            </p>
                        </div>
                    </div>
                    <div class="music--button">
                        DOWNLOAD
                    </div>
                    <hr>
                </div>
                <div class="music--content_post">
                    <h3>
                        Fresh Blood
                    </h3>
                    <p><em>released Oct. 2011</em></p>
                    <div class="music--content_post--container">
                        <div class="container--tracklist">
                            <p>1. <span class="lyrics" data-song="the-barroom-and-i-sure-miss-you">The Barroom and I (Sure Miss You)</span><br>
                            2. <span class="lyrics" data-song="hard-heart">Hard Heart</span><br>
                            3. <span class="lyrics" data-song="you-can-count-on-me">You Can Count on Me</span><br>
                            4. <span class="lyrics" data-song="oh-nancy">Oh Nancy</span><br>
                            5. <span class="lyrics" data-song="picking-at-scabs">Picking at Scabs</span><br>
                            6. <span class="lyrics" data-song="theoretical-love-song">Theoretical Love Song (with Gus &amp; Call)</span><br>
                            7. <span class="lyrics" data-song="wants">Wants</span><br></p>
                        </div>
                        <div class="container--cover">
                            <div class="cover--image">
                                <%= image_tag('fresh-blood.jpg') %>
                            </div>
                            <p>
                                <em class="lyrics" data-song="fresh-blood">lyrics &amp; credits</em>
                            </p>
                        </div>
                    </div>
                    <div class="music--button">
                        DOWNLOAD
                    </div>
                </div>
                <hr>
                <div class="music--content_lyrics">
                    <div class="lyrics--album" id="more-like-it">
                        <h3>
                            More Like It
                        </h3>
                        <div id="head-waters">
                            <p>
                                <strong>"Head Waters"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="fifty-times-a-day">
                            <p>
                                <strong>"Fifty Times a Day"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="laguna-beach">
                            <p>
                                <strong>"Laguna Beach"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="ogallala-aquifer">
                            <p>
                                <strong>"Ogallala Aquifer"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="mean-thing-on-my-mind">
                            <p>
                                <strong>"Mean Thing on My Mind"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="no-im-sure-youre-right">
                            <p>
                                <strong>"No, I'm Sure You're Right"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="keep-the-devil-away">
                            <p>
                                <strong>"Keep the Devil Away"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="air-force-one">
                            <p>
                                <strong>"Air Force One"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="christmas-1974">
                            <p>
                                <strong>"Christmas 1974"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="steadfast-friendship">
                            <p>
                                <strong>"Steadfast Friendship"</strong>
                            </p>
                        </div>
                        <hr>
                    </div>
                    <div class="lyrics--album" id="plays-the-piano">
                        <h3>
                            Plays the Piano
                        </h3>
                        <div id="july-18-2011">
                            <p>
                                <strong>"2:47, July 18, 2011"</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="the-favorite">
                            <p>
                                <strong>The Favorite</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="ponderosa-village">
                            <p>
                                <strong>Ponderosa Village</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="twenty-nine">
                            <p>
                                <strong>29</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="swipesy">
                            <p>
                                <strong>Swipesy</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="evil-free-will">
                            <p>
                                <strong>Evil/Free Will</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="the-ballad-of-dorothy-lynch">
                            <p>
                                <strong>The Ballad of Dorothy Lynch</strong>
                            </p>
                        </div>
                        <hr>
                        <div id="solace">
                            <p>
                                <strong>Solace</strong>
                            </p>
                        </div>
                        <hr>
                    </div>
                    <div class="lyrics--album" id="fresh-blood">
                        <h3>
                            Fresh Blood
                        </h3>
                        <p>
                            <strong>credits:</strong></p>
                            <p>Dan McCarthy: piano, guitar, banjo, singing<br>
                            James Maakestad: upright bass, guitar, singing<br>
                            Ben Brodin: drums, pump organ<br>
                            Bram Rosenfeld: mandolin</p>
                            <p>Recorded March 5 &amp; 6, 2011 by Ben Brodin<br>
                            at ARC Studios in Omaha Nebr.
                            <p>except Bram’s mandolin, recorded by Stephen Bartolomei<br>
                            at The Itch in New York City
                            <p>and “Theoretical Love Song,” recorded February 26, 2011<br>
                            by A.J. Mogis at ARC.</p>
                            <p>Gus &amp; Call is James Maakestad, Aaron Markley, Daniel Ocanto,<br>
                            Matt Owens and Mike Schlesinger.</p>
                            <p>Mixed by Ben Brodin at ARC.<br>
                            Mastered by Doug Van Sloun at Focus Mastering in Omaha Nebr.</p>
                        </p>
                        <hr>
                        <div id="the-barroom-and-i-sure-miss-you">
                            <p>
                                <strong>"The Barroom and I (Sure Miss You)</strong>
                            </p>
                            <p>You were smoking a cigarette<br>
                            When you figured out you were pregnant.<br>
                            So I drove you to my house<br>
                            So that you could lie down.<br>
                            That smoky old barroom,<br>
                            It sure does miss you,<br>
                            But not half as bad as I do<br>
                            Since you moved out of town.<br>
                            The barroom and I sure miss you.<br>
                            The beer’s not as cold.<br>
                            They won’t let you smoke.<br>
                            Every joke is old.<br>
                            All the whiskey tastes sour.<br>
                            It’s a cheese-paring pour.<br>
                            There are no smiling faces<br>
                            When I walk through the door.<br>
                            That baby is walking now,<br>
                            And there’s another on the way,<br>
                            Their daddy standing there handsome<br>
                            On your wedding day.<br>
                            You moved to California –<br>
                            That’s where you’ve always belonged.<br>
                            The kids can swim in the ocean,<br>
                            And you can sit in the sun.<br>
                            The bartender thinks I’m a creep.<br>
                            Most of the time I agree.<br>
                            Though I’ve tried to convince him,<br>
                            He will not believe<br>
                            That your leaving had nothing<br>
                            To do with me.</p>
                        </div>
                        <hr>
                        <div id="hard-heart">
                            <p>
                                <strong>Hard Heart</strong>
                            </p>
                            <p>An attic apartment with a wooden staircase fire escape –<br>
                            Now that he’s moving, he’s glad that everything heavy stays.<br>
                            He’s leaving the woman with the expensive suitcase,<br>
                            The one she asked for last Valentine’s Day.<br>
                            You could tell she was the type who’d never settle for a card.<br>
                            You’d have to have a hard heart not to feel sorry for her now.</p>
                            <p>He’s taking the vacuum. He’s taking the broom.<br>
                            She never expected to have to clean those rooms.<br>
                            He’s got a couple of milk crates of old LPs.<br>
                            Judging from his records, he’s too much like me.<br>
                            She’s letting him get away with 6- and 12-string guitar.<br>
                            You’d have to have a hard heart not to feel sorry for her now.</p>
                            <p>She’s staying with her sister for a couple of days.<br>
                            They agreed that it’d be easier if she just stayed away.<br>
                            I never trifled with them, and they never bothered me –<br>
                            That’s the best way of being neighborly.<br>
                            Though she did call the police in the middle of my best party.<br>
                            Still, you’d have to have a hard heart not to feel sorry for her now.</p>
                            <p>They shared a car, and they got a little dog.<br>
                            You can’t ask the figures where the arithmetic went wrong.<br>
                            Maybe it was her job that made her so unhappy lately.<br>
                            Maybe the puppy was practice for a baby.<br>
                            Never did I once see him take it out in the yard.<br>
                            You’d have to have a hard heart not to feel sorry for her now.</p>
                        </div>
                        <hr>
                        <div id="you-can-count-on-me">
                            <p>
                                <strong>You Can Count on Me</strong>
                            </p>
                            <p>You can’t always count on sober and serene,<br>
                            But you can count on me.</p>
                            <p>I’d give up reading and writing, quit doing math even,<br>
                            Before I’d stop being your friend.</p>
                            <p>You can’t always count on clever and cheery,<br>
                            But you can count on me.</p>
                            <p>If blood is thicker than water, then what we got is oil<br>
                            Within this mortal coil.</p>
                            <p>You can’t always count on consistency,<br>
                            But you can count on me.</p>
                        </div>
                        <hr>
                        <div id="oh-nancy">
                            <p>
                                <strong>Oh Nancy</strong>
                            </p>
                            <p>Oh Nancy, I’m sorry, we’re doing things you despise:<br>
                            Pinball and poolhalls and getting drowsy while we drive.<br>
                            I’ve got a few thick books with me, but they haven’t come in handy yet<br>
                            Unless like that old Russian, you’re rolling your own cigarettes.</p>
                            <p>I don’t know what I’m doing, but I know where I am:<br>
                            On the road in a 15-passenger van.</p>
                            <p>Oh Nancy, I’m sorry, we’re doing things you abhor:<br>
                            Whiskey when you want it, and beer when you’re bored.<br>
                            I could make the excuse that it makes my brain numb,<br>
                            But the beer ain’t doing nothin’ the road ain’t already done.</p>
                            <p>Oh Nancy, I’m sorry, we’re doing everything you hate:<br>
                            Staying up till hours that ain’t even late.<br>
                            Smoky motel rooms with two men to a bed –<br>
                            Don’t tell me about the folly of being comforted.</p>
                            <p>We kill time and make time, and spend time and save time,<br>
                            Waste time and pass time and keep time in stop time.</p>
                            <p>Oh Nancy, I’m sorry, I’m doing things you don’t like:<br>
                            Spending all my money any given Monday night.<br>
                            I’m not proud to admit it, but I’ve been hanging around bars<br>
                            Where the girls aren’t too pretty, but they leave their clothes in the car.</p>
                            <p>I know what I’m doing, I’m becoming an old man<br>
                            On the road in a 15-passenger van.</p>
                        </div>
                        <hr>
                        <div id="picking-at-scabs">
                            <p>
                                <strong>Picking at Scabs</strong>
                            </p>
                            <p>When I heard your voice on the phone,<br>
                            I was more than a little surprised.<br>
                            It’d been a long night of collapsing-building dreams,<br>
                            And I’d barely opened my eyes.</p>
                            <p>The questions you were asking me<br>
                            Reminded me of when we were together:<br>
                            How much are you drinking, and how’s your family?<br>
                            At least you didn’t ask about the weather.</p>
                            <p>My mom, she’s been doing well.<br>
                            Dad’s been getting dizzy.<br>
                            I’m not drinking as much, but not not at all.<br>
                            Such tail-chasing has been keeping me busy.</p>
                            <p>That and picking at scabs to see fresh blood.<br>
                            It’s all right, we can laugh about this stuff.</p>
                            <p>We laughed about the first time we were in bed<br>
                            And I was such a mess.<br>
                            You knew I wasn’t that drunk,<br>
                            So you asked me if I was religious.</p>
                            <p>It was a decent question, I guess,<br>
                            Though it made me even more nervous.<br>
                            Like you’d invited the Almighty himself<br>
                            To testify to our congress.</p>
                            <p>In the morning you only had that dress<br>
                            That you’d worn for the games out on the lawn.<br>
                            I’d say we were both ready to run<br>
                            Once you put your blue tennis shoes on.</p>
                            <p>Picking at scabs to see fresh blood.<br>
                            It’s all right, you can laugh, but I’ll call your bluff.</p>
                            <p>That time we drove out to the country<br>
                            ‘Cause my folks were draining the pond,<br>
                            And we thought we’d catch a couple catfish<br>
                            Before they faced their Armageddon.</p>
                            <p>You held the pole and I rowed the boat,<br>
                            And when I brought us back to the bank,<br>
                            My dad showed us how his grandma cleaned ‘em<br>
                            By nailing their heads to a plank.</p>
                            <p>We were gonna be living high:<br>
                            Fresh catfish and cottage fries.<br>
                            But we both knew from the first bite,<br>
                            Those fish’s Kool-Aid was laced with cyanide.</p>
                            <p>So putrid it was hard to describe.<br>
                            There wasn’t enough beer in the house<br>
                            To make it seem like a good time,<br>
                            Or to wash the bitter taste out of our mouths.</p>
                            <p>So we went around the corner to the grocery store<br>
                            To pick up some more beer and fried chicken.<br>
                            While I was over grabbing a six-pack,<br>
                            You were at the counter being propositioned.</p>
                            <p>In overalls and a motorized cart,<br>
                            He didn’t look like he could do too much harm,<br>
                            But whatever he said about sexing chickens<br>
                            Made you never want to go back to the farm.</p>
                            <p>Picking at scabs to see fresh blood.<br>
                            It’s all right, you can laugh. That’s about enough.</p>
                            <p>When I heard your voice on the phone,<br>
                            I was more than a little surprised.<br>
                            It’d been a long night of disastrous dreams,<br>
                            And I’d barely opened my eyes.</p>
                            <p>I probably wouldn’t’ve picked up the phone,<br>
                            But I was waiting on a call from a plumber.<br>
                            You still had our old area code.<br>
                            I didn’t recognize your number.</p>
                        </div>
                        <hr>
                        <div id="theoretical-love-song">
                            <p>
                                <strong>Theoretical Love Song (with Gus &amp; Call)</strong>
                            </p>
                            <p>The end of your life, it don’t mean nothing to our love.<br>
                            Neither does the end of mine.<br>
                            If the world should end in 2012,<br>
                            We still have plenty of time.</p>
                            <p>Time is just a construct.<br>
                            It’s relative to the speed of light.<br>
                            Even Einstein’s theories only apply<br>
                            To the universe where we find ourselves tonight.</p>
                            <p>We will weather the nuclear winter.<br>
                            We will welcome the second coming of Christ.<br>
                            When the sun’s fuel is spent and it becomes a red giant,<br>
                            The love between us will survive.</p>
                            <p>So what if this is all an illusion,<br>
                            And the universe is only one<br>
                            Of an infinite number of universes?<br>
                            I’m gonna love you in every single one (+1).</p>
                        </div>
                        <hr>
                        <div id="wants">
                            <p>
                                <strong>Wants</strong>
                            </p>
                            <p>“Wants” by Philip Larkin is from The Less Deceived and is included by
    permission of The Marvell Press England and Australia.</p>
                        </div>
                    </div>
                    <div class="lyrics--button">
                        RETURN TO ALBUMS
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>