<div class="wrapper">
    <header class="body--header">
        <div class="header--title">
            <a href="/">
                <h1>
                    M<span>c</span>C<span>arthy</span><br> T<span>renching</span>
                </h1>
            </a>
        </div>
        <div class="header--image">
            <%= image_tag('header.jpg') %>
        </div>
        <nav class="header--nav">
            <ul class="nav--container">
                <a href="/news">
                    <li class="nav--container_link">
                        news
                    </li>
                </a>
                <a href="/shows">
                    <li class="nav--container_link">
                        shows
                    </li>
                </a>
                <a href="/music">
                    <li class="nav--container_link">
                        music
                    </li>
                </a>
            </ul>
        </nav>
    </header>
    <main class="body--main">
        <section class="main--news">
            <header class="news--header section--header">
                <h2>
                    NEWS
                </h2>
                <ul class="news--nav">
                    <a href="/news">
                        <li class="nav--container_link">
                            news
                        </li>
                    </a>
                    <a href="/shows">
                        <li class="nav--container_link">
                            shows
                        </li>
                    </a>
                    <a href="/music">
                        <li class="nav--container_link">
                            music
                        </li>
                    </a>
                </ul>
            </header>
            <section class="news--content">
                <%= @posts.each_with_index do |post, index| %>
                <div class="news--content_post">
                    <h3>
                        <%= post.headline %>
                    </h3>
                    <p>
                        <%= post.body %>
                    </p> 
                    <p>
                        <em>posted <%= post.created_at.strftime("A, %B %e")%></em>
                    </p>
                </div>
                <% unless @posts.length == index + 1 %>
                <hr>
                <% end %>
            </section>
        </section>
        <section class="main--shows">
            <header class="shows--header section--header">
                <h2>
                    SHOWS
                </h2>
                <ul class="shows--nav">
                    <a href="/news">
                        <li class="nav--container_link">
                            news
                        </li>
                    </a>
                    <a href="/shows">
                        <li class="nav--container_link">
                            shows
                        </li>
                    </a>
                    <a href="/music">
                        <li class="nav--container_link">
                            music
                        </li>
                    </a>
                </ul>
            </header>
            <% if @shows != nil %>
                <div class="shows--content">
                    <% @shows.each do |show| %>
                        <div class="shows--content_show">
                            <h3>
                                <%= show.description %>
                            </h3>
                            <p>
                                <%= show.date.strftime("%A, %B %e, at %l:%M %P") %>
                            </p>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </section>
        <section class="main--music">
            <header class="music--header section--header">
                <h2>
                    MUSIC
                </h2>
                <ul class="music--nav">
                    <a href="/news">
                        <li class="nav--container_link">
                            news
                        </li>
                    </a>
                    <a href="/shows">
                        <li class="nav--container_link">
                            shows
                        </li>
                    </a>
                    <a href="/music">
                        <li class="nav--container_link">
                            music
                        </li>
                    </a>
                </ul>
            </header>
            <div class="music--content">
                
            </div>
        </section>
    </main>
</div>